<ion-header>
  <ion-toolbar>
    <ion-title>ผลงาน</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 <ion-card *ngFor = "let item of Listimage">
   <ion-item >
     <ion-slides pager>
       <ion-slide >
          <img src= {{item.img1}} >
       </ion-slide>
       <ion-slide >
          <img src= {{item.img2}} >
       </ion-slide>
       <ion-slide >
          <img src= {{item.img2}} >
       </ion-slide>
       
     </ion-slides>
   
   <ion-card-header>
     
   </ion-card-header>
   <ion-card-content>
     {{item.name}}
     {{item.data}}
   </ion-card-content>
  </ion-item>
 </ion-card>
</ion-content>
